<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="session344BrowserOptionClasses.OneCrome"/>
      <class name="session344BrowserOptionClasses.TwoFirefox"/>
      <class name="session344BrowserOptionClasses.ThreeEdge"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
